<div class="ct_header_main">
      <app-header />
</div>

<!-- Inner Hero Content S -->
<section class="ct_py_70">
      <div class="container">
            <div class="row align-items-center">
                  <div class="col-lg-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_hero_banner_left_cnt">
                              <h1 class="ct_fs_44 ct_fw_700">Customer success stories</h1>
                              <h3 class="ct_fs_22 ct_fw_500">Discover how Creative.ai empowers start-ups, growing
                                    businesses,
                                    and
                                    innovative entrepreneurs to take their businesses to the next level.</h3>

                              <div class="ct_btn_group">
                                    <a href="our-story.html" class="ct_blue_btn_fill">Explore stories</a>
                                    <a routerLink="/free-demo" class="ct_blue_outline_btn">Get a free demo</a>
                              </div>

                        </div>
                  </div>
                  <div class="col-lg-6 mb-4 mb-lg-0" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_hero_right_main">
                              <div class="position-relative">
                                    <img src="assets/img/case_studies_right_img.png" alt="" class="ct_img_w_80">
                              </div>

                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- Inner Hero Content E -->
<!-- Trusted by Big Brand Section S -->
<section class="ct_grey_bg ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000">
                        <h2 class="ct_fs_44 ct_fw_700 text-center">Trusted by big <span class="ct_orange_text">brands
                                    and
                                    entrepreneurs</span>
                        </h2>
                        <p class="ct_fs_18 text-center">Big global brands, growing businesses, and innovative
                              entrepreneurs
                              trust Builder.ai to bring their
                              ideas to life quicker and <br> more cost-effectively.</p>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000">
                        <div class="owl-carousel owl-theme ct_trusted_brand">
                              <div class="item">
                                    <div class="ct_trusted_brand_logo">
                                          <img src="assets/img/brand_logo_1.png" alt="">
                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_trusted_brand_logo">
                                          <img src="assets/img/brand_logo_2.png" alt="">
                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_trusted_brand_logo">
                                          <img src="assets/img/brand_logo_6.png" alt="">
                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_trusted_brand_logo">
                                          <img src="assets/img/brand_logo_5.png" alt="">
                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_trusted_brand_logo">
                                          <img src="assets/img/brand_logo_4.png" alt="">
                                    </div>
                              </div>
                        </div>

                  </div>

            </div>
            <div class="row ct_mt_50">
                  <div class="col-lg-8 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_enterpreneur_card">
                              <div class="ct_enterpreneur_left_cnt">
                                    <figure class="mb-0">
                                          <div class="ct_enterpreneur_logo">
                                                <img src="assets/img/frenly_logo.svg" alt="">
                                          </div>
                                          <figcaption class="ct_mt_34">
                                                <p class="ct_fs_22 ct_fs_600"><span class="ct_fw_700">Frenly</span> is
                                                      building a
                                                      community of
                                                      over 5,000 investors.
                                                </p>
                                                <a href="#" class="ct_link_green">See App Case Study</a>
                                          </figcaption>
                                    </figure>

                              </div>
                              <div class="ct_enterpreneur_right_cnt">
                                    <img src="assets/img/frenly_mockup.png" alt="">
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-4 mb-4 mb-lg-0" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_enterpreneur_card_detail">
                              <p class="ct_fs_16 ct_line_h_25 ct_text_justify text-white">“I would definitely recommend
                                    creative
                                    ai. If you
                                    want to bring
                                    your idea to life, you need a
                                    solid tech partner and Creative.ai has all the capabilities.”
                              </p>
                              <div class="ct_user_name_grid_2 ct_mt_50">
                                    <img src="assets/img/girl_2.png" alt="" class="ct_img_67">
                                    <div>
                                          <h6 class="mb-1 ct_fs_16 ct_fw_600 text-white">John Doe</h6>
                                          <h6 class="mb-0 ct_fs_16 ct_fw_400 text-white">Founder of Frenly</h6>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- Trusted by Big Brand Section E -->

<!-- Quick Search Section S -->
<section class="ct_mt_100">
      <div class="container">
            <div class="row">
                  <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000">
                        <div class="ct_quick_search_head ct_py_70 pt-0">
                              <h2 class="mb-0 ct_fs_28 ct_fw_700">Quick search</h2>
                              <div class="ct_quick_search_input_group">
                                    <div class="form-group">
                                          <label for="" class="ct_fw_600 ct_fs_14 mb-1">Company Size</label>
                                          <select name="" id="" class="form-control ct_select_input">
                                                <option value="">All</option>
                                                <option value="">Enterprise</option>
                                                <option value="">SMB</option>
                                                <option value="">Entrepreneur</option>
                                          </select>
                                    </div>
                                    <div class="form-group">
                                          <label for="" class="ct_fw_600 ct_fs_14 mb-1">Region</label>
                                          <select name="" id="" class="form-control ct_select_input">
                                                <option value="">Asia</option>
                                                <option value="">UK/Europe</option>
                                                <option value="">US</option>
                                                <option value="">Middle East</option>
                                          </select>
                                    </div>
                                    <div class="form-group">
                                          <label for="" class="ct_fw_600 ct_fs_14 mb-1">Product</label>
                                          <select name="" id="" class="form-control ct_select_input">
                                                <option value="">All</option>
                                                <option value="">Builder Studio</option>
                                                <option value="">Studio Store</option>
                                                <option value="">Builder Cloud</option>
                                          </select>
                                    </div>
                                    <div class="form-group">
                                          <label for="" class="ct_fw_600 ct_fs_14 mb-1">Industry</label>
                                          <select name="" id="" class="form-control ct_select_input">
                                                <option value="">All</option>
                                                <option value="">Retail & Ecommerce</option>
                                                <option value="">Retail & Ecommerce</option>
                                                <option value="">Social</option>
                                          </select>
                                    </div>

                              </div>
                        </div>

                  </div>

            </div>
            <div class="row">
                  <div class="col-md-6 mb-4" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_quick_search_item_card">
                              <div class="row">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                          <div class="ct_quick_search_cnt">
                                                <img src="assets/img/KARAKOVER_logo.png" alt="">
                                                <p class="mb-0 mt-3">Karaklover is saving 98.33% on its software costs.
                                                </p>
                                                <div class="mt-2ct_quick_search_prject_img">
                                                      <a href="#" class="ct_link_green">Read story</a>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-lg-6">
                                          <div class="ct_quick_search_prject_img">
                                                <img src="assets/img/karakover_mock.png" alt="">
                                          </div>
                                    </div>

                              </div>

                        </div>
                  </div>
                  <div class="col-md-6 mb-4" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_quick_search_item_card">
                              <div class="row">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                          <div class="ct_quick_search_cnt">
                                                <img src="assets/img/KARAKOVER_logo.png" alt="">
                                                <p class="mb-0 mt-3">Karaklover is saving 98.33% on its software costs.
                                                </p>
                                                <div class="mt-2ct_quick_search_prject_img">
                                                      <a href="#" class="ct_link_green">Read story</a>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-lg-6">
                                          <div class="ct_quick_search_prject_img">
                                                <img src="assets/img/karakover_mock.png" alt="">
                                          </div>
                                    </div>

                              </div>

                        </div>
                  </div>
                  <div class="col-md-6 mb-4" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_quick_search_item_card">
                              <div class="row">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                          <div class="ct_quick_search_cnt">
                                                <img src="assets/img/KARAKOVER_logo.png" alt="">
                                                <p class="mb-0 mt-3">Karaklover is saving 98.33% on its software costs.
                                                </p>
                                                <div class="mt-2ct_quick_search_prject_img">
                                                      <a href="#" class="ct_link_green">Read story</a>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-lg-6">
                                          <div class="ct_quick_search_prject_img">
                                                <img src="assets/img/karakover_mock.png" alt="">
                                          </div>
                                    </div>

                              </div>

                        </div>
                  </div>
                  <div class="col-md-6 mb-4" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_quick_search_item_card">
                              <div class="row">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                          <div class="ct_quick_search_cnt">
                                                <img src="assets/img/KARAKOVER_logo.png" alt="">
                                                <p class="mb-0 mt-3">Karaklover is saving 98.33% on its software costs.
                                                </p>
                                                <div class="mt-2ct_quick_search_prject_img">
                                                      <a href="#" class="ct_link_green">Read story</a>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-lg-6">
                                          <div class="ct_quick_search_prject_img">
                                                <img src="assets/img/karakover_mock.png" alt="">
                                          </div>
                                    </div>

                              </div>

                        </div>
                  </div>
            </div>

      </div>
</section>
<!-- Quick Search Section E -->

<!-- free demo Section S -->
<section class="ct_py_70">
      <div class="container">
            <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000">
                  <div class="ct_free_demo_bg">
                        <h3 class="ct_fs_28  ct_orange_gredient_text text-center mb-2 ct_fw_700">Need help to decide?
                        </h3>
                        <h2 class="ct_fs_38 text-center ct_fw_700 mb-2">Find out which plan is right for you</h2>
                        <p class="ct_fs_17 mb-0 text-center">In less than 60 seconds</p>
                        <div class="text-center mt-4">
                              <a href="pricing.html" class="ct_blue_btn_fill">Help me find a plan</a>
                        </div>
                  </div>
            </div>

      </div>
</section>
<!-- free demo Section S -->
<!-- Latest Projects Section S -->
<section class="ct_latest_project_bg ct_olw_nav_show_main">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000">
                        <h1 class="ct_fs_44 ct_fw_700 text-center text-white mb-4">Some of our latest projects</h1>
                  </div>
            </div>
            <div class="owl-carousel owl-theme ct_latest_project_slider ct_owl_nav_on_hover ct_owl_nav_on_full_w"
                  data-aos="fade-down" data-aos-duration="1000">
                  <div class="item">
                        <div class="ct_project_img_1">
                              <div class="ct_mb_100 ct_project_slider_title">
                                    <h4 class="ct_fs_34 ct_fw_700 text-center text-white">ScriptDoor</h4>
                                    <p class="ct_fs_16 text-center text-white">An inclusive media and entertainment
                                          marketplace,
                                          allowing
                                          users to create, buy and sell
                                          multimedia.</p>
                              </div>
                              <img src="assets/img/mob_project_img_1.png" alt="">
                        </div>
                  </div>
                  <div class="item">
                        <div class="ct_project_img_1">
                              <div class="ct_mb_100 ct_project_slider_title">
                                    <h4 class="ct_fs_34 ct_fw_700 text-center text-white">ScriptDoor</h4>
                                    <p class="ct_fs_16 text-center text-white">An inclusive media and entertainment
                                          marketplace,
                                          allowing
                                          users to create, buy and sell
                                          multimedia.</p>
                              </div>
                              <img src="assets/img/mob_project_img_1.png" alt="">
                        </div>
                  </div>
                  <div class="item">
                        <div class="ct_project_img_1">
                              <div class="ct_mb_100 ct_project_slider_title">
                                    <h4 class="ct_fs_34 ct_fw_700 text-center text-white">ScriptDoor</h4>
                                    <p class="ct_fs_16 text-center text-white">An inclusive media and entertainment
                                          marketplace,
                                          allowing
                                          users to create, buy and sell
                                          multimedia.</p>
                              </div>
                              <img src="assets/img/mob_project_img_1.png" alt="">
                        </div>
                  </div>
                  <div class="item">
                        <div class="ct_project_img_1">
                              <div class="ct_mb_100 ct_project_slider_title">
                                    <h4 class="ct_fs_34 ct_fw_700 text-center text-white">ScriptDoor</h4>
                                    <p class="ct_fs_16 text-center text-white">An inclusive media and entertainment
                                          marketplace,
                                          allowing
                                          users to create, buy and sell
                                          multimedia.</p>
                              </div>
                              <img src="assets/img/mob_project_img_1.png" alt="">
                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- Latest Projects Section E -->

<!-- From Vision to reality Section S -->
<section class="ct_py_70">
      <div class="container">
            <div class="row align-items-center">
                  <div class="col-md-6 mb-4 mb-md-0" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_from_vision_img">
                              <img src="assets/img/creative_home_circle.png" alt="">
                        </div>
                  </div>
                  <div class="col-md-6 mb-4 mb-md-0" data-aos="fade-left" data-aos-duration="1000">
                        <div class="">

                              <h2 class="ct_fs_38 ct_fw_700 ct_peacock_blue_text">From Vision to Reality with <br><span
                                          class="ct_orange_text">Creative
                                          Home</span></h2>
                              <p class="ct_fs_16 ct_line_h_25">At Creative.ai, our product managers are
                                    called Productologists.
                                    When your app build begins,
                                    you’ll meet with your Productologist once a week, but you can collaborate with and
                                    contact
                                    them
                                    at any time via your all-in-one project dashboard, Builder Home. This helps to
                                    ensure that
                                    the
                                    final product looks just like your original app idea.</p>
                        </div>
                  </div>

            </div>

      </div>
</section>
<!-- From Vision to reality Section E -->
<!-- Happy Customer section S -->
<section class="py-5  ct_grey_bg">
      <div class="container">
            <div class="row">
                  <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000">
                        <h1 class="ct_fs_44 ct_fw_700 text-center ct_py_70 pt-0">Delivering apps to <span
                                    class="ct_orange_text">happy
                                    customers</span></h1>
                  </div>
            </div>
            <div class="row" data-aos="fade-down" data-aos-duration="1000">
                  <div class="col-sm-3 mb-3 mb-sm-0">
                        <div class="ct_exellenct_review_cnt">
                              <h3 class="ct_fs_22 ct_fw_700 mb-3 text-center">Excellent</h3>
                              <div class="ct_exellant_star">
                                    <ul>
                                          <li>
                                                <i class="fa-solid fa-star"></i>
                                          </li>
                                          <li>
                                                <i class="fa-solid fa-star"></i>
                                          </li>
                                          <li>
                                                <i class="fa-solid fa-star"></i>
                                          </li>
                                          <li>
                                                <i class="fa-solid fa-star"></i>
                                          </li>
                                          <li>
                                                <i class="fa-solid fa-star"></i>
                                          </li>
                                    </ul>
                              </div>
                              <p class="mb-0 ct_fs_16 text-center mt-3">Based on 2,436 reviews</p>

                        </div>
                  </div>
                  <div class="col-sm-9 mb-3 mb-sm-0">
                        <div class="owl-carousel owl-theme ct_happy_customer_slider ct_dot_nav_hover">
                              <div class="item">
                                    <div class="ct_happy_customer_review">
                                          <ul class="ct_review_start">
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                          </ul>
                                          <h5 class="ct_fs_18 ct_fw_700 mb-0 mt-3">Great Experience</h5>
                                          <p class="mb-4">I am really happy so far with the way Builder and specially
                                                the project
                                                manager “Anupreet
                                                Kaur” is handling my project! The project is currently in the MVP
                                                Development Phase
                                                and
                                                everything's been going smoothly so far.</p>
                                          <span>HabibM, 6 April 2023
                                          </span>

                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_happy_customer_review">
                                          <ul class="ct_review_start">
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                          </ul>
                                          <h5 class="ct_fs_18 ct_fw_700 mb-0 mt-3">Great Experience</h5>
                                          <p class="mb-4">I am really happy so far with the way Builder and specially
                                                the project
                                                manager “Anupreet
                                                Kaur” is handling my project! The project is currently in the MVP
                                                Development Phase
                                                and
                                                everything's been going smoothly so far.</p>
                                          <span>HabibM, 6 April 2023
                                          </span>

                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_happy_customer_review">
                                          <ul class="ct_review_start">
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                          </ul>
                                          <h5 class="ct_fs_18 ct_fw_700 mb-0 mt-3">Great Experience</h5>
                                          <p class="mb-4">I am really happy so far with the way Builder and specially
                                                the project
                                                manager “Anupreet
                                                Kaur” is handling my project! The project is currently in the MVP
                                                Development Phase
                                                and
                                                everything's been going smoothly so far.</p>
                                          <span>HabibM, 6 April 2023
                                          </span>

                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_happy_customer_review">
                                          <ul class="ct_review_start">
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                          </ul>
                                          <h5 class="ct_fs_18 ct_fw_700 mb-0 mt-3">Great Experience</h5>
                                          <p class="mb-4">I am really happy so far with the way Builder and specially
                                                the project
                                                manager “Anupreet
                                                Kaur” is handling my project! The project is currently in the MVP
                                                Development Phase
                                                and
                                                everything's been going smoothly so far.</p>
                                          <span>HabibM, 6 April 2023
                                          </span>

                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_happy_customer_review">
                                          <ul class="ct_review_start">
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                          </ul>
                                          <h5 class="ct_fs_18 ct_fw_700 mb-0 mt-3">Great Experience</h5>
                                          <p class="mb-4">I am really happy so far with the way Builder and specially
                                                the project
                                                manager “Anupreet
                                                Kaur” is handling my project! The project is currently in the MVP
                                                Development Phase
                                                and
                                                everything's been going smoothly so far.</p>
                                          <span>HabibM, 6 April 2023
                                          </span>

                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_happy_customer_review">
                                          <ul class="ct_review_start">
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                          </ul>
                                          <h5 class="ct_fs_18 ct_fw_700 mb-0 mt-3">Great Experience</h5>
                                          <p class="mb-4">I am really happy so far with the way Builder and specially
                                                the project
                                                manager “Anupreet
                                                Kaur” is handling my project! The project is currently in the MVP
                                                Development Phase
                                                and
                                                everything's been going smoothly so far.</p>
                                          <span>HabibM, 6 April 2023
                                          </span>

                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_happy_customer_review">
                                          <ul class="ct_review_start">
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                          </ul>
                                          <h5 class="ct_fs_18 ct_fw_700 mb-0 mt-3">Great Experience</h5>
                                          <p class="mb-4">I am really happy so far with the way Builder and specially
                                                the project
                                                manager “Anupreet
                                                Kaur” is handling my project! The project is currently in the MVP
                                                Development Phase
                                                and
                                                everything's been going smoothly so far.</p>
                                          <span>HabibM, 6 April 2023
                                          </span>

                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- Happy Customer section  E-->
<!-- Softare as Easy Section S -->
<section class="ct_py_70">
      <div class="container">
            <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000">
                  <div class=" ct_software_as_bg">

                        <h2 class="ct_fs_38 text-center ct_fw_700 mb-2">Software as easy as ordering pizza
                        </h2>
                        <p class="ct_fs_17 ct_fw_600 mb-0 text-center">Your vision. Your apps. We just build them.
                        </p>
                        <div class="text-center mt-4">
                              <a href="#" class="ct_blue_btn_fill">Try it for free</a>
                        </div>
                  </div>
            </div>

      </div>
</section>
<!-- Softare as Easy Section S -->
<!-- Got Question Section S -->
<div class="ct_got_question_bg" data-aos="fade-down" data-aos-duration="1000">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h1 class="ct_fs_44 ct_fw_700 mb-2 text-center ct_orange_text">Got Questions?
                        </h1>
                        <p class="mb-0 text-center">Head to our FAQ page for in-depth answers
                        </p>
                        <div class="text-center ct_mt_34">
                              <a href="faqs.html" class="ct_blue_outline_btn">Read FAQs</a>
                        </div>
                  </div>

            </div>

      </div>
</div>
<!-- Got Question Section E -->
<app-footer />